html, body {
    margin: 0; padding: 0;
}

#map {
    height: 100%;
    position:relative;
}

#mainMenu{
    width:1000px;
    z-index: 99;
    margin-right:auto;
    margin-left:auto;
    position: absolute;
    top: 100px; left: 0px; bottom: 0; right: 0;
    border-radius: 40px;
    padding:10px;
    height:600px;
    background-color: rgba(0, 0, 0, 0.4);
    background: rgba(0, 0, 0, 0.4);
    color:white;
    -moz-box-shadow:inset 0px 0px 24px #000000;
    -webkit-box-shadow:inset 0px 0px 24px #000000;
    box-shadow:inset 0px 0px 24px #000000;
    text-shadow: 1px 0px 9px rgba(0, 0, 0, 1);
}

#menuItem1{
    display: inline-block;
    float:left;
    border-right: 1px solid white;
    padding-left:1%;
    padding-right:20%;
    height: 100%;
}

#menuItem2{
    display: inline-block;
    height:100%;
    float:right;

}

.title{
    font-family: 'Fjalla One', sans-serif;
    color:#FFFFFF;
    text-align:center;
    font-size:40px;
}

#overlay{
    background-color: rgba(255, 255, 255, 0);
    width:100%;
    height:100%;
    z-index: 1;
    position: absolute;

}