html, body {
    height: 100%; margin: 0; padding: 0;
}

#map {
    height: 100%;
}

#menu{
    background-color: white;
    width:800px;
    height:300px;
    margin-right:auto;
    margin-left:auto;
}