/*DARREN WILLIAMSON, THOMAS MILLS, CALLUM MELIA, CALLUM ROBERTSON, CIARAN MILLER*/
html, body {
    margin: 0; padding: 0;
}

#map {
    height: 100%;
    position:relative;
}

#mainMenu{
    width:940px;
    z-index: 99;
    margin-right:auto;
    margin-left:auto;
    position: absolute;
    top: 100px; left: 0px; bottom: 0; right: 0;
    border-radius: 20px;
    padding:10px;
    height:405px;
    background: rgba(0, 0, 0, 0.6);
    color:white;
    -moz-box-shadow:inset 0px 0px 24px #000000;
    -webkit-box-shadow:inset 0px 0px 24px #000000;
    box-shadow:inset 0px 0px 24px #000000;
    text-shadow: 1px 0px 9px rgba(0, 0, 0, 1);
}

#menuItem1{
    display: inline-block;
    float:left;
    padding-left:1%;
    height: 100%;
}

#menuItem2{
    display: inline-block;
    height:100%;
    float:left;
    margin-top:200px;
}

.title{
    font-family: 'Fjalla One', sans-serif;
    color:#FFFFFF;
    text-align:center;
    font-size:40px;
}

#overlay{
    background-color: rgba(0, 0, 0, 0.4);
    width:100%;
    height:100%;
    z-index: 1;
    position: absolute;
}

#trendsMenu{
    width:590px;
    height:270px;
    border-radius:10px;
    padding:10px;
    margin:10px;
    -webkit-box-shadow: 0px 0px 31px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 31px 5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 31px 5px rgba(0,0,0,0.75);
}
.trend{
    width:190px;
    height:20px;
    font-family: 'Open Sans', sans-serif;
    margin-top:15px;
}

.trendsGroup{
    display:inline-block;
}

.signInTwitter{
    float:right;
    margin-top:80px;
}

.bulletPointText{
    font-family:'Bitter', serif;
    font-size:12pt;
    display:inline-block;
    vertical-align:top;
}

.trendingWhereInterface{
    border-radius:5px;
}

.subtitle{
    font-family: 'Bitter', serif;
    font-size:12pt;
}

.title{
    font-family: 'Oleo Script';
    font-size:60pt;
    text-align: center;
}

.titleColourEdit{
    color:#CCCCCC;
}

.cityTitle{
    font-family: 'Bitter', sans-serif;
    font-weight:bold;
    font-size:37px;
}

.trendsMenuClose{
    position:absolute;
    left:590px;
    font-size:25px;
    font-family: 'Open Sans';
}

.trendsMenuContainer{
    padding:10px;
}

/********************************************************/

#map-canvas {
    margin: 0;
    padding: 0;
    height: 100%;
    max-width: none;
}

.gm-style-iw {
    width: 590px !important;
    top: 15px !important;
    left: 0px !important;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(144, 144, 144, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px 5px 5px 5px;
}
#iw-container {
    margin-bottom: 10px;
    width:900px;
}
#iw-container .iw-title {
    font-family: 'Bitter', serif;
    font-size: 22px;
    font-weight: 400;
    padding: 10px;
    color: black;
    margin: 0;
    border-radius: 2px 2px 0 0;
}
#iw-container .iw-content {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    margin-right: 1px;
    padding: 15px 5px 20px 15px;
    max-height: 140px;
    overflow-y: auto;
    overflow-x: hidden;
}